 @media (max-width: 575.98px) {
     body{
    background-color: rgb(241, 203, 160);
    margin:0 auto;
}
  } 
 
  
  main{color:#925555;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    background-color: rgb(240, 240, 226);
        margin:100px;
      
  }video{
    width:500px;
    height:300px;
    
}
  .container{
    display:flex;
    align-items:center;
    justify-content:center;
    height:50vh;
  }
  h2 {
    
    font-size: 24px;
    vertical-align:middle;
    text-align: center;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
 



 
  
  /* Styles for screens between 576px and 767.98px */
 
  /* Styles for screens between 768px and 991.98px */
  @media (min-width: 768px) and (max-width: 991.98px) {
    /* Adjust styles for large screens here */
  }
  
  /* Styles for screens larger than 992px */
  @media (min-width: 992px) {
    /* Adjust styles for extra-large screens here */
  }
  #Obj{
    
    background-color: #ffe8d2de;
  }
  #Edu{
    background-color: rgb(252, 236, 211);
  }
  #Proj{
    background-color: #ffe8d2de;
  }
  #Cert{
    background-color: rgb(252, 236, 211);
  }
  #Social{
    background-color: #ffe8d2de;
  }
 
  #contact{
    background-color: rgb(252, 236, 211);
  }