@media (min-width: 768px)  {
     body {
    max-width: 800px;
    margin: 0 auto;
    padding:0;
    background-color:#89dde8

  }
  }
   
 
  
  header,footer{
    vertical-align:middle;
    text-align: center;
    background-color:#b5b7b6;}
    h1{
    font-size:40px;
  }img{
    width:400px;
    height: 400px;
} button{
    width:400px;
    height: 50px;
    font-size: 20px;
    background-color: #d3d2d2;
  }.navBar{
    text-decoration:none;
    margin:200px;
    background-color:#ffffff;}
  
 

 
  
  
  